*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --main-text-color: rgb(0, 0, 0);
  --main-bg-color: rgb(231, 185, 129);
  --second-bg-color: white;
  --second-text-color: rgb(130, 130, 130);
}
.dark{
  --main-text-color: rgb(255, 0, 0);
  --main-bg-color: rgb(39, 39, 39);
  --second-text-color: rgb(255, 255, 255);
  --second-bg-color: rgb(80, 52, 28);
  transition: all 0.5s;
}